:root {

    /* =====================================================
       COLORS
    ===================================================== */

    --primary: #22d3ee;
    --primary-light: #67e8f9;

    --white: #ffffff;
    --text: rgba(255, 255, 255, 0.95);
    --text-soft: rgba(255, 255, 255, 0.72);
    --text-muted: rgba(255, 255, 255, 0.48);

    --danger: #fb7185;


    /* =====================================================
       BACKGROUND
    ===================================================== */

    /* --background-image:
        url("../assets/images/default-city.jpg"); */


    /* =====================================================
       GLASS
    ===================================================== */

    --card-bg: rgba(36, 57, 72, 0.55);

    --card-border:
        rgba(255, 255, 255, 0.24);

    --card-shadow:
        0 15px 40px rgba(0, 0, 0, 0.18);

    --blur: blur(16px);


    /* =====================================================
       RADIUS
    ===================================================== */

    --radius-lg: 20px;
    --radius-md: 14px;
    --radius-sm: 10px;


    /* =====================================================
       TRANSITION
    ===================================================== */

    --transition: 250ms ease;
}